<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
    <label>email</lable>
    <input type="text" name="email"><br></br>
    <label>password</lable>
    <input type="password" name="password"><br></br>

    <input type="submit" value="Log In">
</form>
