<h1>Sign Up Below:</h1>
<form method="POST" action="/registrations">
    <label>name</lable>
    <input type="text" name="name"><br></br>
    <label>email</lable>
    <input type="text" name="email"><br></br>
    <label>password</lable>
    <input type="password" name="password"><br></br>

    <input type="submit" value="Sign Up">
</form>


